body {
  margin: 0% 10% 0% 10%;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 80px;
  background-color: blue !important;
}
* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.img-container {
  min-width: 219.97px;
  min-height: 131.77px;
  width: 219.97px;
  height: 131.77px;
  max-width: 219.97px;
  max-height: 131.77px;
  float: left;
  justify-content: space-between;
}
.img-container img {
  width: 100%;
  height: 100%;
  
}
.bigfoot {
  border: 1px solid rebeccapurple;
  color: red;
  background-color: yellow;
  width: 100%;
  bottom: 0;
  position: fixed;
}
.foot {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  bottom: 0;
}
.header {
  text-align: center;
    position: fixed;
    height: 60px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 4;
    margin-bottom: 50px;
}
.container {
  padding-top: 100px; 
  background-color: greenyellow;
  /* background: #ffffff url("./img/water-img.jpg");; */
} 
html {
  background-color:blue;
  background-image: url('./img/water-img.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background: #ffffff url("./img/water-img.jpg");;  */
 } 
.new-home {

}

.btn-info {
  text-align: center;
}

.text-column {
  height: 500px;
  overflow-y: scroll;
}

.btn-outline-dark {
  text-align: center;
}